<template>
  <v-app
    style="
    background: #3A1C71;
    background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
    background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
  "
  >
    <div align="center" justify="center">
      <v-card class="px-5 py-2 mt-2 mb-10 elevation-10">
        <v-form ref="form">
          <v-text-field name="input" v-model="title" label="Title" required></v-text-field>
          <v-select v-model="type" :items="types" label="Type" required></v-select>
          <v-row>
            <v-col>
              <v-select v-model="weight" :items="weights" label="Weight" required></v-select>
            </v-col>
            <v-col>
              <v-select v-model="size" :items="sizes" label="Size" required></v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field name="input" v-model="from" label="From" required></v-text-field>
            </v-col>
            <v-col>
              <v-text-field name="input" v-model="to" label="To" required></v-text-field>
            </v-col>
          </v-row>
          <v-menu
            ref="menu"
            v-model="menu"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field name="input" v-model="date" label="Deadline" readonly v-on="on"></v-text-field>
            </template>
            <v-date-picker v-model="date" no-title scrollable>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
              <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
            </v-date-picker>
          </v-menu>
          <v-textarea name="input" v-model="description" rows="2" label="Description"></v-textarea>
          <router-link to="/users/1" style="text-decoration: none">
            <v-btn class="mr-4 primary" @click="reset">submit</v-btn>
          </router-link>
          <v-btn class="error" @click="reset">clear</v-btn>
        </v-form>
      </v-card>
    </div>
  </v-app>
</template>

<script>
import axios from "axios";

export default {
  data: () => ({
    menu: false,
    title: "Remove old sofa",
    type: "Garbage removal",
    weight: "40kg",
    size: "2.5m3",
    from: "Tartu",
    to: "Tallinn",
    date: new Date().toUTCString(),
    description:
      "Please remove old sofa from from my grandma's backyard!.Please remove old sofa from from my grandma's backyard!.Please remove old sofa from from my grandma's backyard!.Please remove old sofa from from my grandma's backyard!.Please remove old sofa from from my grandma's backyard!.Please remove old sofa from from my grandma's backyard!.Please remove old sofa from from my grandma's backyard!.Please remove old sofa from from my grandma's backyard!.Please remove old sofa from from my grandma's backyard!.Please remove old sofa from from my grandma's backyard!.Please remove old sofa from from my grandma's backyard!.Please remove old sofa from from my grandma's backyard!.",

    types: ["Garbage removal", "type2", "type3"],
    weights: ["40kg", "weight2", "weight3"],
    sizes: ["2.5m3", "size2", "size3"]
  }),
  methods: {
    submit() {
      axios.post("http://localhost:1337/orders", {
        title: this.title,
        type: this.type,
        weight: this.weight,
        size: this.size,
        from: this.from,
        destination: this.to,
        deadline: this.date,
        description: this.description
      });
    },
    reset() {
      this.$refs.form.reset();
    }
  }
};
</script>

<style scoped>
.v-card {
  max-width: 700px;
}
</style>