<template>
    <section>
        <div class="infoBox" v-for="order in pending" v-bind:key="order.id">
            <div class="image">
                <img :src="order.image"/>
            </div>
            <div class="col1">
                <p><b>{{order.title}}</b></p>
                <p>From <b>{{order.from}}</b> to <b>{{order.destination}}</b></p>
                <p>Deadline <b>{{order.deadline}}</b></p>
                <p>Weight <b>{{order.weight}}</b></p>
                <p>Size <b>{{order.size}}</b></p>
            </div>
            <div class="col2">
                <v-btn class="moreInfo" color="primary" dark
                       @click.stop="dialog = true, type=order.type,size=order.size,weight=order.weight,
                       from=order.from,destination=order.destination,deadline=order.deadline,bid=order.bids[order.bids.length-1].bid,
                        distance=order.distance,description=order.description,image=order.image">
                    Get more info
                </v-btn>
                <v-btn color="success" v-if="who===''">
                    CONFIRM
                </v-btn>
            </div>
            <div class="bid"><h4>BEST OFFER</h4><h2>{{order.bids[order.bids.length-1].bid}}<span>eur</span></h2><h3 v-if="order.bids[order.bids.length-1].bid!='∞' && who==='Driver'">Your bid was last</h3></div>
        </div>
        <v-dialog width="780px" v-model="dialog">
            <v-card>
                <div class="cardLeft">
                    <img class="cardImg" :src="image"/>
                    <v-card-text>
                        <p><b>Type:</b> {{type}}</p>
                        <p><b>Size:</b> {{size}}</p>
                        <p><b>Weight:</b> {{weight}}</p>
                        <p><b>From:</b> {{from}}</p>
                        <p><b>Destination:</b> {{destination}}</p>
                        <p><b>Deadline:</b> {{deadline}}</p>
                    </v-card-text>
                </div>
                <div class="cardRight">
                    <v-card-text>
                        <p><b>Description</b></p>
                        <p>{{description}}</p>
                    </v-card-text>
                </div>
                <small style="padding-left: 10px; color: red" v-if="who==='Driver'">Your bid should be smaller than {{bid}}eur</small>
                <v-card-actions v-if="who==='Driver'">
                    <v-text-field label="Your bid" outlined  prefix="$"></v-text-field>
                    <v-spacer></v-spacer>
                    <v-btn class="bet" color="success" @click="dialog = false">
                        Place bid
                    </v-btn>
                </v-card-actions>
                <div v-else style="height: 520px; width: 60px; background-color: white">

                </div>
            </v-card>
        </v-dialog>
    </section>
</template>

<script>
    export default {
        name: "Pending",
        props: {
            pending: Array,
            who: String
        },
        data: () => ({
            dialog: false,
            image: ""
        }),
    }
</script>

<style scoped>
    section{
        width: 85%;
        margin: auto;
    }
    p{
        color: #000;
    }
    .infoBox{
        margin-top: 20px;
        margin-bottom: 10px;
        border: 1px solid black;
        height: 140px;
        background-color: white;
    }
    .image{
        width: 25%;
        float: left;
    }
    .col1, .col2, .bid{
        margin-top: 20px;
        line-height: 8px;
        padding-left: 15px;
        width: 25%;
        float: left;
    }
    .image{
        padding-top: 15px;
        padding-left: 15px;
    }
    .image img{
        width: 100%;
        height: 110px;
        object-fit: scale-down;
    }
    .moreInfo{
        margin-top: 35px;
    }
    .bid{
        text-align: center;
    }
    .bid h2{
        font-size: 50px;
        padding-top: 30px;
    }
    span{
        font-size: 22px;
    }
    .cardImg{
        width: 200px;
        height: 200px;
        margin-top: 15px;
        margin-left: 15px;
        object-fit: scale-down;
    }
    h4{
        padding-right: 30px;
        padding-top: 15px;
    }
    .cardLeft, .cardRight{
        width: 50%;
        float: left;
        background-color: white;
    }
    .bet{
        margin-bottom: 25px;
        margin-right: 10px;
    }
    h3{
        padding-top: 15px;
        padding-right: 10px;
        font-size: 10px;
        color: red;
    }
</style>