<template>
    <section>
        <div class="infoBox" v-for="order in todo" v-bind:key="order.id">
            <div class="image">
                <img :src="order.image"/>
            </div>
            <div class="col1">
                <p><b>{{order.title}}</b></p>
                <p>From <b>{{order.from}}</b> to <b>{{order.destination}}</b></p>
                <p>Deadline <b>{{order.deadline}}</b></p>
                <p>Weight <b>{{order.weight}}</b></p>
                <p>Size <b>{{order.size}}</b></p>
            </div>
            <div class="col2">
                <p style="font-size: 10px">{{order.description}}</p>
            </div>
            <div class="bid"><h4>BEST OFFER</h4><h2>{{order.bids[order.bids.length-1].bid}}<span>eur</span></h2><h3 v-if="order.bids[order.bids.length-1].bid!='∞'">Your bid was last</h3></div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "TODO",
        props: {
            todo: Array
        }
    }
</script>

<style scoped>
    section {
        width: 85%;
        margin: auto;
    }
    p{
        color: #000;
    }
    .infoBox{
        margin-top: 20px;
        margin-bottom: 10px;
        border: 1px solid black;
        height: 140px;
        background-color: white;
    }
    .image{
        width: 25%;
        float: left;
    }
    .col1, .col2, .bid{
        margin-top: 20px;
        line-height: 8px;
        padding-left: 15px;
        width: 25%;
        float: left;
    }
    .image{
        padding-top: 15px;
        padding-left: 15px;
    }
    .image img{
        width: 100%;
        height: 110px;
        object-fit: scale-down;
    }
    .bid{
        text-align: center;
    }
    .bid h2{
        font-size: 50px;
        padding-top: 30px;
    }
    span{
        font-size: 22px;
    }
    h4{
        padding-right: 30px;
        padding-top: 15px;
    }
    h3{
        padding-top: 15px;
        padding-right: 10px;
        font-size: 10px;
        color: red;
    }
</style>