<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app temporary>
      <v-list dense>
        <v-list-item
          link
          @click="navigation='createTask', drawer = !drawer, barName='Create my task'"
        >
          <v-list-item-action>
            <v-icon>mdi-border-color</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Create task</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item
          link
          @click="navigation='myTasks', drawer = !drawer, barName='My created tasks'"
        >
          <v-list-item-action>
            <v-icon>mdi-briefcase-edit</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>My tasks</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-action>
            <v-icon>mdi-logout-variant</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <router-link to="/" style="text-decoration: none; color: red">
              <v-list-item-title>Logout</v-list-item-title>
            </router-link>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app color="#E63946" dark :hide-on-scroll="true">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title>{{barName}}</v-toolbar-title>
        <v-spacer></v-spacer>
        <h4>CLIENT</h4>
    </v-app-bar>

    <v-content>
      <myTasks v-if="navigation === 'myTasks'" />
      <createTask v-if="navigation === 'createTask'" />
    </v-content>
  </v-app>
</template>


<script>
import myTasks from "./Navigation/myTasks";
import createTask from "./Navigation/createTask";

export default {
  name: "User",
  components: { myTasks, createTask },
  data: () => ({
    drawer: false,
    barName: "Create my task",
    navigation: "createTask"
  })
};
</script>

<style scoped>
</style>