<template>
    <v-app id="inspire">
        <v-navigation-drawer v-model="drawer" app temporary>
            <v-list dense>
                <v-list-item link @click="navigation='Search for job', drawer = !drawer, barName=navigation">
                    <v-list-item-action>
                        <v-icon>mdi-briefcase-search-outline</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Search</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item link @click="navigation='Dashboard', drawer = !drawer, barName=navigation">
                    <v-list-item-action>
                        <v-icon>mdi-clipboard-text-outline</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Dashboard</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-action>
                        <v-icon>mdi-logout-variant</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <router-link to="/" style="text-decoration: none; color: red">
                        <v-list-item-title>Logout</v-list-item-title>
                        </router-link>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

    <v-app-bar app color="#457B9D" dark :hide-on-scroll="true">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title>{{barName}}</v-toolbar-title>
      <v-spacer></v-spacer>
      <h4>DRIVER</h4>
    </v-app-bar>

        <v-content>
            <Search v-if="navigation === 'Search for job'"/>
            <Dashboard v-else-if="navigation === 'Dashboard'"/>
        </v-content>
    </v-app>
</template>


<script>
    import Search from "./Navigation/Search";
    import Dashboard from "./Navigation/Dashboard";
    export default {
        name: "Driver",
        components: {Search,Dashboard},
        data: () => ({
            drawer: false,
            navigation: "Search for job",
            barName:"Search for job"
        })
    }
</script>

<style scoped>
</style>