<template>
  <v-app>
    <section>
      <v-tabs v-model="tab" background-color="transparent" color="black" grow>
        <v-tab v-for="item in items" :key="item">{{ item }}</v-tab>
      </v-tabs>
      <v-tabs-items v-model="tab">
        <v-tab-item>
          <Pending :pending="pending" :who="who"/>
        </v-tab-item>
        <v-tab-item>
          <TODO :todo="todo" />
        </v-tab-item>
        <v-tab-item>
          <Completed :completed="completed" :who="who"/>
        </v-tab-item>
      </v-tabs-items>
    </section>
  </v-app>
</template>

<script>
import Pending from "./Tabs/Pending";
import TODO from "./Tabs/TODO";
import Completed from "./Tabs/Completed";
import axios from "axios";

export default {
  name: "Dashboard",
  components: { Completed, Pending, TODO },
  data() {
    return {
      who:"Driver",
      tab: null,
      orders: [],
      pending: [],
      todo: [],
      completed: [],
      items: ["still open", "Waiting for pickup", "Completed"],
      text:
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    };
  },
  mounted() {
    axios
      .get("http://localhost:1337/orders")
      .then(response => this.divide(response["data"]));
  },
  methods: {
    divide: function(data) {
      for (let i = 0; i < data.length; i++) {
        if (data[i]["status"] === "pending") {
          this.pending.push(data[i]);
        } else if (data[i]["status"] === "completed") {
          this.completed.push(data[i]);
        } else {
          this.todo.push(data[i]);
        }
      }
    }
  }
};
</script>

<style scoped>
</style>