<template>
    <section>
        <v-container fluid>
            <v-row align="center">
                <v-col class="d-flex" cols="6" sm="3">
                    <v-select :items="carType" label="Car type"></v-select>
                </v-col>
                <v-col class="d-flex" cols="6" sm="3">
                    <v-select :items="weights" label="Weight"></v-select>
                </v-col>
                <v-subheader>Location radius</v-subheader>
                <v-col class="d-flex" cols="6" sm="3">
                    <v-slider v-model="slider" class="align-center" :max="max" :min="min" hide-details>
                        <template v-slot:append>
                            <v-text-field v-model="slider" class="mt-0 pt-0" hide-details single-line type="number" style="width: 60px"></v-text-field>
                        </template>
                    </v-slider>
                </v-col>
            </v-row>
        </v-container>
    </section>
</template>

<script>
    export default {
        name: "Filterbox",
        data: () => ({
            carType: ['All','B', 'C', 'CE', 'E'],
            weights: ['Under 10kg','Under 50kg','Under 200kg','Under 500kg','Under 1000kg','Under 2000kg','over 2000kg'],
            min: 0,
            max: 100,
            slider: 0,
            range: [0, 100],
        }),
    }
</script>

<style scoped>
    section{
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
</style>