<template>
    <section class="mainDiv">
        <Filterbox />
        <div class="infoBox" v-for="order in orders" v-bind:key="order.id">
            <div class="image">
                <img :src=order.image height="190" width="265"/>
            </div>
            <div class="col1">
                <p><b>{{order.title}}</b></p>
                <p>From <b>{{order.from}}</b> to <b>{{order.destination}}</b></p>
                <p>Deadline <b>{{order.deadline}}</b></p>
                <p>Weight <b>{{order.weight}}</b></p>
                <p>Size <b>{{order.size}}</b></p>
            </div>
            <div class="col2">
                <v-btn class="moreInfo" color="primary" dark
                       @click.stop="dialog = true, type=order.type,size=order.size,weight=order.weight,
                       from=order.from,destination=order.destination,deadline=order.deadline,bid=order.bids[order.bids.length-1].bid,
                        distance=order.distance,description=order.description,image=order.image,orderid=order.id">
                    Get more info
                </v-btn>
            </div>
            <div class="bid"><h4>BEST OFFER</h4><h2>{{order.bids[order.bids.length-1].bid}}<span>eur</span></h2><h3 v-if="order.bids[order.bids.length-1].bid!='∞'">Your bid was last</h3></div>
        </div>
        <v-dialog width="780px" v-model="dialog">
            <v-card>
                <div class="cardLeft">
                    <img class="cardImg" :src="image"/>
                    <v-card-text>
                        <p><b>Type:</b> {{type}}</p>
                        <p><b>Size:</b> {{size}}</p>
                        <p><b>Weight:</b> {{weight}}</p>
                        <p><b>From:</b> {{from}}</p>
                        <p><b>Destination:</b> {{destination}}</p>
                        <p><b>Deadline:</b> {{deadline}}</p>
                    </v-card-text>
                </div>
                <div class="cardRight">
                    <v-card-text>
                        <p><b>Description</b></p>
                        <p>{{description}}</p>
                    </v-card-text>
                </div>
                <small style="padding-left: 10px; color: red">Your bid should be smaller than {{bid}}eur</small>
                <v-card-actions>
                    <v-text-field label="Your bid" outlined  prefix="$" v-model="moneyBid"></v-text-field>
                    <v-spacer></v-spacer>
                    <v-btn class="bet" color="success" @click="placeBid(orderid)">
                        Place bid
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </section>
</template>

<script>
    import axios from 'axios';
    import Filterbox from "./Filterbox";
    export default {
        name: "Search",
        components: {Filterbox},
        data: () => ({
            moneyBid:"",
            orderid:"",
            orders: [],
            dialog: false,
            type:"",
            size:"",
            weight:"",
            from:"",
            destination:"",
            deadline:"",
            bid:"",
            distance:"",
            description:"",
            image:""
        }),
        mounted() {
            axios
                .get('http://localhost:1337/orders')
                .then(response => (this.divide(response['data'])));
        },
        methods: {
            divide: function (data) {
                for(let i=0;i<data.length;i++){
                    if (data[i]['status'] === 'pending'){
                        this.orders.push(data[i])
                    }
                }
            },
            placeBid: function (orderID) {
                this.dialog = false
                if(this.moneyBid==="∞"){
                    this.bid = this.moneyBid;
                    axios.post("http://localhost:1337/orders/" + orderID, {
                        driver: "0",
                        bid: this.bid
                    });
                    document.location.reload(true);
                }
                else if(this.bid>this.moneyBid) {
                    this.bid = this.moneyBid;
                    axios.post("http://localhost:1337/orders/" + orderID, {
                        driver: "0",
                        bid: this.bid
                    });
                    document.location.reload(true);
                }
                else{
                    alert("Your bid is bigger than "+this.bid)
                }
                this.moneyBid="";
            }
        }
    }
</script>

<style scoped>
    p{
        color: #000;
    }
    .mainDiv{
        width: 75%;
        margin: auto;
    }
    .infoBox{
        margin-top: 20px;
        margin-bottom: 10px;
        border: 1px solid black;
        height: 140px;
        background-color: white;
    }
    .image{
        width: 25%;
        float: left;
    }
    .col1, .col2, .bid{
        margin-top: 20px;
        line-height: 8px;
        padding-left: 15px;
        width: 25%;
        float: left;
    }
    .image{
        padding-top: 15px;
        padding-left: 15px;
    }
    .image img{
        width: 100%;
        height: 110px;
        object-fit: scale-down;
    }
    .moreInfo{
        margin-top: 35px;
    }
    .bid{
        text-align: center;
    }
    .bid h2{
        font-size: 50px;
        padding-top: 30px;
    }
    span{
        font-size: 22px;
    }
    .cardImg{
        width: 200px;
        height: 200px;
        margin-top: 15px;
        margin-left: 15px;
        object-fit: scale-down;
    }
    h4{
        padding-right: 30px;
        padding-top: 15px;
    }
    .cardLeft, .cardRight{
        width: 50%;
        float: left;
        background-color: white;
    }
    .bet{
        margin-bottom: 25px;
        margin-right: 10px;
    }
    h3{
        padding-top: 15px;
        padding-right: 10px;
        font-size: 10px;
        color: red;
    }
</style>