<template>
  <router-view/>
</template>

<script>

export default {
  name: 'App',

  components: {

  },

  data: () => ({
    //
  }),
};
</script>

<style>
  td.text-start span{
    font-size: 14px !important;
  }
  th.text-start span{
    font-size: 14px !important;
    color: black;
  }
</style>
