<template>
  <v-app
    style="
    background: #3A1C71;
    background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
    background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
  "
  >
    <div style="height: 100vh; background: url(https://supplychainbeyond.com/wp-content/uploads/2019/07/shipping-freight-with-loadsmart-and-one-network-enterprises.jpg) no-repeat center center fixed;">
      <div class="text-center" style="padding-top: 80px; padding-bottom: 80px;">
        <v-card style="width: 300px; margin: auto">
          <h1 style="margin: auto">TRANSPORTIO</h1>
        </v-card>
      </div>

      <div class="flex-container text-center">
        <v-card class="text-center mx-auto d-flex flex-column py-10 elevation-10" max-width="400px" min-width="300px">
          <h2 class="text-center">Need to transport something?</h2>

          <v-card-text
            class="title"
          >Tired of old sofa in your backyard? Enter and forget about it once and for all</v-card-text>
          <v-spacer />
          <router-link to="/users/1" style="text-decoration: none">
            <v-btn style="backgroundColor: #E63946" dark>
              <span>Join as Client</span>
            </v-btn>
          </router-link>
        </v-card>
        <v-card
          class="mx-auto d-flex flex-column py-10 elevation-10"
          max-width="400px"
          min-width="300p"
          style="text-align: center"
        >
          <h2>Want to work as a lonely driver?</h2>

          <v-card-text
            class="title"
          >Enter and start transporting silent packages instead of annoying passengers</v-card-text>
          <v-spacer />
          <router-link to="/driver/0" style="text-decoration: none">
            <v-btn style="backgroundColor: #457B9D" dark>Join as Driver</v-btn>
          </router-link>
        </v-card>
      </div>
    </div>
    <v-container fluid>
      <v-row>
        <v-col cols="6" style="backgroundColor: #E63946">
          <v-row class="mb-6">
            <v-card class="mx-auto" max-width="500">
              <v-container fluid>
                <v-row dense>
                  <v-col cols="3"></v-col>

                  <v-col cols="9">
                    <v-card-title>Create a task</v-card-title>
                    <v-card-text
                      class="subtitle-1"
                    >Phasellus magna. Quisque rutrum. Nunc egestas, augue at pellentesque laoreet, felis eros vehicula leo, at malesuada velit leo quis pede. Aliquam lobortis. Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna.</v-card-text>
                  </v-col>
                </v-row>
              </v-container>
            </v-card>
          </v-row>
          <v-row class="mb-6">
            <v-card class="mx-auto elevation-10" max-width="500">
              <v-container>
                <v-row justify="space-between">
                  <v-col cols="9">
                    <v-card-title>Find an offer that suits you</v-card-title>
                    <v-card-text
                      class="subtitle-1"
                    >Phasellus magna. Quisque rutrum. Nunc egestas, augue at pellentesque laoreet, felis eros vehicula leo, at malesuada velit leo quis pede. Aliquam lobortis. Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna.</v-card-text>
                  </v-col>
                  <v-col cols="3"></v-col>
                </v-row>
              </v-container>
            </v-card>
          </v-row>
        </v-col>

        <v-col cols="6" style="backgroundColor: #457B9D; opacity: 100%">
          <v-row class="mb-6">
            <v-card class="mx-auto elevation-10" max-width="500">
              <v-container fluid>
                <v-row dense>
                  <v-col cols="3"></v-col>

                  <v-col cols="9">
                    <v-card-title>Choose a task</v-card-title>
                    <v-card-text
                      class="subtitle-1"
                    >Phasellus magna. Quisque rutrum. Nunc egestas, augue at pellentesque laoreet, felis eros vehicula leo, at malesuada velit leo quis pede. Aliquam lobortis. Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna.</v-card-text>
                  </v-col>
                </v-row>
              </v-container>
            </v-card>
          </v-row>
          <v-row class="mb-6">
            <v-card class="mx-auto elevation-10" max-width="500">
              <v-container>
                <v-row justify="space-between">
                  <v-col cols="9">
                    <v-card-title>Bet an offer</v-card-title>
                    <v-card-text
                      class="subtitle-1"
                    >Phasellus magna. Quisque rutrum. Nunc egestas, augue at pellentesque laoreet, felis eros vehicula leo, at malesuada velit leo quis pede. Aliquam lobortis. Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna.</v-card-text>
                  </v-col>
                  <v-col cols="3"></v-col>
                </v-row>
              </v-container>
            </v-card>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
export default {
  name: "Main"
};
</script>

<style scoped>
.flex-container {
  width: 80%;
  min-height: 300px;
  margin: 0 auto;
  display: -webkit-flex; /* Safari */
  display: flex; /* Standard syntax */
}
.flex-container .column {
  padding: 10px;
  background: #dbdfe5;
  -webkit-flex: 1; /* Safari */
  -ms-flex: 1; /* IE 10 */
  flex: 1; /* Standard syntax */
}
.flex-container .column.bg-alt {
  background: #b4bac0;
}
</style>